<?xml version="1.0" ?>
<config>

  <!-- 
    Define up to 3 search paths for .dll and .asi plugins. Note that you 
    don't have to have your plugins loaded by this loader to show up in
    the Developer Menu. This is just here for convience. You can set all 
    these to blank and have another loader do the loading if you prefer.
  -->
  <Plugins>
    <Path1>.\plugins</Path1>
    <Path2></Path2>
    <Path3></Path3>
  </Plugins>

  <!-- Developer Menu lets you load/unload plugins dynamically -->
  <DevMenu>
    <Enabled>1</Enabled>
    
    <!-- Require ALT to be pressed -->
    <HotKeyAlt>1</HotKeyAlt>

    <!-- Virtual Key to activate menu (VK_F12 = 123) -->
    <HotKeyVirtualKey>123</HotKeyVirtualKey>
  </DevMenu>

  <!-- Console Logger will log in the existing 1.0.1 console or create a new one -->
  <ConsoleLogger>
    <Enabled>0</Enabled>
  </ConsoleLogger>

  <!-- 
    Some Development Mode Hacks
    Requires: 
      1. GTAIV version 1.0.1 (newer ones won't work)
      2. XLiveLess or something similar to disable modification checks
    Will crash otherwise.
  -->
  <Hacks>
    <Enabled>0</Enabled>

    <!-- 
      Launch the game in a 800x600 window rather than fullscreen. 
      Still requires -windowed command line to force Direct3D window mode.
    -->
    <LaunchWindowed>1</LaunchWindowed>

    <!-- Skip the initial menu and jump right to game -->
    <SkipMenus>1</SkipMenus>

    <!-- Let the game run in the background when you ALT+TAB -->
    <SkipFocusChecks>1</SkipFocusChecks>
    
    <!-- 
      The following features are already provided by XLiveLess
      but are left intact for anyone using something other than XLiveLess.
    -->

    <SkipRGSCChecks>1</SkipRGSCChecks>
    <SkipFileTxtChecks>1</SkipFileTxtChecks>
    <SkipSaveChecks>1</SkipSaveChecks>
    
  </Hacks>  
  
</config>
